**/.DS_Store
**/.swp
*.log
.env
.env.dev
venv/

.vscode/*
.idea/*

**/__pycache__/

**/.ipynb_checkpoints/

# Javascript
**/node_modules/*
node_modules/

# Tests
.tox/
htmlcov/
.coverage
.pytest_cache

# Data folder
data/
/package-lock.json
